<!-- Start Boss -->
<section id="boss" class="section bg-boss">
    <div class="container">
        <!-- Section Title -->
        <div class="row m-bottom-40">
            <div class="col-md-6">
                <h3>arch. Magdalena Górska</h3>
                <div class="divider"></div>
            </div>
        </div>
        <!-- End Section Title -->

        <div class="row m-top-40">
            <div class="col-sm-7 wow">
                <h6>Cześć. Jestem Magda. Zajmuję się zrównoważonym projektowaniem i&nbsp;tworzeniem dobrych, pozytywnych miejsc.</h6>

                <h5 class="m-top-40">Oficjalnie ;)</h5>
                <div class="divider"></div>

                <p class="justified">Jestem architektem z&nbsp;uprawnieniami do&nbsp;projektowania architektonicznego bez ograniczeń, członkiem Izby Architektów oraz <a href="http://www.osbn.pl">Ogólnopolskiego Stowarzyszenia Budownictwa Naturalnego</a> (w&nbsp;latach 2014-2016 byłam wiceprezes OSBN). Mam ponad 10&nbsp;lat czynnego doświadczenia w&nbsp;zawodzie architekta. Moja własna działalność, eKodama, powstała w&nbsp;2012 roku.</p>

                <h5 class="m-top-40">Nieoficjalnie ;)</h5>
                <div class="divider"></div>
 
                <p class="justified">Jestem szaloną nasadzaczką drzew zakładająca gdzie się da&nbsp;leśne ogrody permakulturowe. Pływam i&nbsp;tańczę jak szaleniec. Z&nbsp;uśmiechem sięgam po aparat (<a href="https://www.facebook.com/eKodama.Fotografia" title="Zobacz profil eKodamaART na Facebooku">eKodamaART</a>), uwielbiam podróżować, poznawać ludzi i&nbsp;tworzyć różne dziwne rzeczy. Choć cenię spokój i&nbsp;naturę,  czasami i&nbsp;często ;) ciężko mi usiedzieć bezczynnie, tyle tych pomysłów. <p class="justified">

                <p class="justified">Promuje budownictwo naturalne i&nbsp;zdrowy tryb życia na&nbsp;<a href="https://www.facebook.com/eKodama.Architektura">swoim blogu na FB</a>, zaglądajcie! Wasze like'i sprawiają mi&nbsp;dużo radości. Zerknijcie też na&nbsp;inne moje działania i&nbsp;publikacje w&nbsp;świecie naturalnego budowania.</p>

                <p class="justified">Serdecznie Was zapraszam do&nbsp;wspólnego Tworzenia.</p>

                <h5 class="m-top-40">Moje doświadczenie zawodowe poza pracownią</h5>
                <div class="divider"></div>

                <ul>
                    <li>2009-2011 &ndash; Architekt w&nbsp;firmie Heinle, Wischer und Partner Architekci Sp. s o.o., Wrocław, Berlin</li>
                    <li>2008 &ndash; Członek zespołu kreatywnego, Architekt w&nbsp;pracowni Group-Arch, AA Design, Wrocław</li>
                    <li>2007 &ndash; Asystent architekta w firmie Eldridge Smerin Architects, Londyn, Wielka Brytania</li>
                </ul>

                <p class="justified">W&nbsp;swojej działalności jestem częstym gościem na budowach i&nbsp;warsztatach w praktyce i&nbsp;lubię czasem zanurzyć dłonie w&nbsp;glinie, słomie. Moje inne doświadczenia w&nbsp;pracy na budowie, przed powołaniem eKodamy:</p>

                <ul>
                    <li>2008-2009, 2012 &ndash; Praca na budowach przy realizacjach: Studia nagraniowego dla&nbsp;ATM Grupy na&nbsp;Bielanach Wrocławskich, Modernizacji i&nbsp;nadbudowie kamienicy dla INTERMODY na&nbsp;ul.&nbsp;Św.&nbsp;Mikołaja we&nbsp;Wrocławiu, Renowacji dworca PKP w&nbsp;Brzegu.</li>
                </ul>
            </div>

            <div class="col-sm-5 wow">
                <img class="img-responsive" src="http://placehold.it/450x750" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End Boss -->


<!-- Start Team -->
<section id="team" class="section p-bottom-20 p-top-100">
    <div class="container">
        <!-- Section Title -->
        <div class="row m-bottom-40">
            <div class="col-md-6">
                <h3>Współpracownicy</h3>
                <div class="divider"></div>
            </div>
        </div>
        <!-- End Section Title -->
        <div class="row">
            <div class="col-md-4 wow fadeInUp">
                <!-- member item -->
                <div class="team-member">
                    <div class="member">
                        <img src="http://placehold.it/570x675" alt="">
                    </div>
                    <div class="member-info">
                        <h5>Kropka</h5>
                        <div class="divider-small"></div>
                        <h6>Konsultant kanapowy :)</h6>
                    </div>
                </div>
                <!-- end member item -->
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                <!-- member item -->
                <div class="team-member">
                    <div class="member">
                        <img src="http://placehold.it/570x675" alt="">
                        <ul class="member-social">
                            <li><a href="http://www.lemska.com/" title="Biuro Projektowe Lemska"><i class="ion-earth"></i></a></li>
                        </ul>
                    </div>
                    <div class="member-info">
                        <h5>mgr inż. Jurek Kiec</h5>
                        <div class="divider-small"></div>
                        <h6>Projektant Instalacji</h6>
                    </div>
                </div>
                <!-- end member item -->
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2">
                <!-- member item -->
                <div class="team-member">
                    <div class="member">
                        <img src="http://placehold.it/570x675" alt="">
                    </div>
                    <div class="member-info">
                        <h5>dr Marek Kawa</h5>
                        <div class="divider-small"></div>
                        <h6>Konstruktor</h6>
                    </div>
                </div>
                <!-- end member item -->
            </div>
        </div>
    </div>
</section>
<!-- End Team -->

<!-- Start Team -->
<section id="team" class="section p-top-20">
    <div class="container">
        <!-- Section Title -->
        <div class="row m-bottom-40">
            <div class="col-md-6">
                <h3>Współpraca autorska</h3>
                <div class="divider"></div>
            </div>
        </div>
        <!-- End Section Title -->
        <div class="row">
            <div class="col-md-4 wow fadeInUp">
                <!-- member item -->
                <div class="team-member">
                    <div class="member">
                        <img src="http://placehold.it/570x675" alt="">
                    </div>
                    <div class="member-info">
                        <h5>mgr arch. Aleksandra Kostka-Gołębiowska</h5>
                        <div class="divider-small"></div>
                        <h6>2016/2017</h6>
                    </div>
                </div>
                <!-- end member item -->
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                <!-- member item -->
                <div class="team-member">
                    <div class="member">
                        <img src="http://placehold.it/570x675" alt="">
                    </div>
                    <div class="member-info">
                        <h5>mgr arch. Gosia Antoniszyn</h5>
                        <div class="divider-small"></div>
                        <h6>2015</h6>
                    </div>
                </div>
                <!-- end member item -->
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2">
                <!-- member item -->
                <div class="team-member">
                    <div class="member">
                        <img src="http://placehold.it/570x675" alt="">
                    </div>
                    <div class="member-info">
                        <h5>mgr inż.  Kamila Dziwińska</h5>
                        <div class="divider-small"></div>
                        <h6>2014</h6>
                    </div>
                </div>
                <!-- end member item -->
            </div>
        </div>
    </div>
</section>
<!-- End Team -->
