<!-- Start Builders -->
<section id="team" class="section p-bottom-20 p-top-100">
    <div class="container">
        <!-- Section Title -->
        <div class="row m-bottom-40">
            <div class="col-md-6">
                <h3>Wykonawcy</h3>
                <div class="divider"></div>

                <h6>Polecani wykonawcy naturalnych budynków</h6>
            </div>
        </div>
        <!-- End Section Title -->
        <div class="row">
            <div class="col-md-4">
                <!-- member item -->
                <div class="team-member">
                    <div class="member">
                        <img src="http://placehold.it/570x675" alt="">
                        <ul class="member-social">
                            <li><a href="http://www.stankowice64.com/index_right.html" title="Biuro Projektowe Lemska"><i class="ion-earth"></i></a></li>
                        </ul>
                    </div>
                    <div class="member-info">
                        <h5>Moritz Reichert</h5>
                        <div class="divider-small"></div>
                        <h6>Dobry Dom</h6>
                    </div>
                </div>
                <!-- end member item -->
            </div>
            <div class="col-md-4">
                <!-- member item -->
                <div class="team-member">
                    <div class="member">
                        <img src="http://placehold.it/570x675" alt="">
                        <ul class="member-social">
                            <li><a href="https://www.facebook.com/biohabitat.opole" title="BioHabitat/Opole"><i class="ion-social-facebook"></i></a></li>
                        </ul>
                    </div>
                    <div class="member-info">
                        <h5>Szymon Sarnicki</h5>
                        <div class="divider-small"></div>
                        <h6>Biohabitat Opole</h6>
                    </div>
                </div>
                <!-- end member item -->
            </div>
            <div class="col-md-4">
                <!-- member item -->
                <div class="team-member">
                    <div class="member">
                        <img src="http://placehold.it/570x675" alt="">
                        <ul class="member-social">
                            <li><a href="http://www.tynkinaturalne.pl/" title="Tynki Naturalne"><i class="ion-earth"></i></a></li>
                        </ul>
                    </div>
                    <div class="member-info">
                        <h5>Kasia i Ryszard Bilińscy</h5>
                        <div class="divider-small"></div>
                        <h6>Tynki Naturalne</h6>
                    </div>
                </div>
                <!-- end member item -->
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <p class="justified">Więcej wykonawców można znaleźć na&nbsp;stronie <a href="http://www.osbn.pl/czlonkowie-osbn">Ogólnopolskiego Stowarzyszenia Budownictwa Naturalnego</a>.</p>
            </div>
        </div>
    </div>
</section>
<!-- End Builders -->
