<!-- Start Google Map -->
<section id="cd-google-map" class="section">
    <div class="container">
        <!-- Section Title -->
        <div class="row m-bottom-40">
            <div class="col-md-6">
                <h3>Biuro</h3>
                <div class="divider"></div>

                <p>Poniedziałki (i&nbsp;piątki w&nbsp;sezonie budowlanym) mamy zarezerwowane na&nbsp;prace w&nbsp;terenie, na&nbsp;budowach, spotkania z&nbsp;klientami na&nbsp;działkach, warsztaty i&nbsp;pracę zdalną. W&nbsp;pozostałe dni powszednie jesteśmy w&nbsp;biurze. Przed odwiedzinami warto przedzwonić.</p>

                <p>W biurze jest i&nbsp;Kropka (nasz psiak i&nbsp;konsultant koncepcyjny :) ). Jeśli jesteś uczulony, odwiedzisz nas z&nbsp;dziećmi lub boisz&nbsp;się psów, daj prosze znać wczesniej, a&nbsp;Kropka pójdzie na&nbsp;spacer. Do&nbsp;zobaczenia!</p>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>

    <div id="google-container"></div>
    <div id="cd-zoom-in"></div>
    <div id="cd-zoom-out"></div>
    <!-- Address -->
    <div class="address">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="address-item">
                        <i class="ion-ios-telephone-outline"></i>
                        <h6><a href="tel:+48669757613">+48 669 757 613</a></h6>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="address-item">
                        <i class="ion-ios-location-outline"></i>
                        <h6>ul.&nbsp;Portowa&nbsp;4b (Poddasze,&nbsp;II&nbsp;piętro), 55-200&nbsp;Oława</h6>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="address-item">
                        <i class="ion-ios-email-outline"></i>
                        <h6><a href="mailto:ekodama.architektura@gmail.com">ekodama.architektura@gmail.com</a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Address -->
</section>
<!-- End Google Map -->

<!-- Start Contact -->
<section id="contact" class="section">
    <div class="container">
        <!-- Section Title -->
        <div class="row m-bottom-40">
            <div class="col-md-6">
                <h3>Formularz kontaktowy</h3>
                <div class="divider"></div>
            </div>
        </div>
        <!-- Section Title -->
        <div class="row">
            <div class="col-md-12 wow fadeInUp">
                <div id="form-wrapper">
                    <div id="form-inner">
                        <div id="err-result"><!-- retrive error here --></div>
                        <div id="main-result"><!-- retrive response here --></div>
                        <div id="main-content">
                            <div class="row">
                                <!-- Contact Form -->
                                <form id="my-contact-form" name="my-contact-form" method="post">      
                                    <fieldset id="contact-form">
                                        <div class="col-md-6">
                                            <label for="name" id="nameIN">
                                                <input type="text" name="name" id="name" placeholder="Imię i nazwisko...">
                                                <span class="error">Pole jest wymagane</span>
                                            </label>
                                            <label for="email" id="emailIN">
                                                <input type="email" name="email" id="email" placeholder="e-mail...">
                                                <span class="error">Pole jest wymagane</span>
                                            </label>
                                            <label for="phone" id="phoneIN">
                                                <input type="text" name="phone" id="phone" placeholder="Telefon...">
                                                <span class="error">Pole jest wymagane</span>
                                            </label>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="message" id="messageIN">
                                                <textarea name="message" id="message" placeholder="Wiadomość..."></textarea>
                                                <span class="error">Pole jest wymagane</span>
                                            </label>
                                        </div>
                                        <div class="col-md-12">
                                            <a href="#" class="contact-btn">Wyślij</a>
                                        </div>
                                    </fieldset>
                                </form>
                                <!-- End Contact Form -->
                            </div>
                        </div><!-- end main-content -->
                    </div><!-- end form-inner -->
                </div><!-- end form-wrapper -->  
            </div>
        </div>                        
    </div>
</section>
<!-- End Contact -->

