    <!-- Start Intro -->
    <section id="intro">
        <!-- border intro -->
        <div class="left-border"></div>
        <div class="right-border"></div>
        <div class="bottom-border"></div>
            <!-- Slide -->
            <div id="slides">
                <ul class="slides-container">
                    <!-- slide item -->
                    <li>
                        <img src="/img/home/intro1.jpg" alt="" data-stellar-ratio="0.4">
                        <div class="caption-wrapper white-text">
                            <div class="slide-caption">
                                <a href="#">
                                    <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Naturalny, zdrowy dom skrojony dla&nbsp;Ciebie</h1>
                                </a>
                                <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Przestrzeń pełna uważności, w&nbsp;zdrowych powiązaniach z&nbsp;otoczeniem i&nbsp;idealnie taka o&nbsp;jaką Ci chodzi. Magia naturalności.</h6>
                                <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz projekt</a>
                            </div>
                        </div>
                    </li>
                    <!-- end slide item -->
                    <!-- slide item -->
                    <li>
                        <img src="/img/home/intro2.jpg" alt="" data-stellar-ratio="0.4">
                        <div class="caption-wrapper white-text">
                            <div class="slide-caption">
                                <a href="#">
                                    <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Naturalne wnętrza pełne uroku</h1>
                                </a>
                                <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Urok naturalnych materiałów we&nbsp;wnętrzach, drewno, glina, tadelakt. Zobacz, jak pięknie można mieszkać naturalnie.</h6>
                                <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz projekt</a>
                            </div>
                        </div>
                    </li>
                    <!-- end slide item -->
                    <!-- slide item -->
                    <li>
                        <img src="/img/home/intro3.jpg" alt="" data-stellar-ratio="0.4">
                        <div class="caption-wrapper white-text">
                            <div class="slide-caption">
                                <a href="#">
                                    <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Działania i&nbsp;warsztaty w&nbsp;terenie</h1>
                                </a>
                                <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz, jak odmieniamy okolicę poprzez inne nasze działania z&nbsp;zakresu głębokiej ekologii.</h6>
                                <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz projekt</a>
                            </div>
                        </div>
                    </li>
                    <!-- end slide item -->
                </ul>
                <!-- slide navigation -->
                <nav class="slides-navigation">
                    <a href="#" class="next">Dalej</a>
                    <a href="#" class="prev">Wstecz</a>
                </nav>
            </div>
            <!-- End Slide -->
    </section>
    <!-- End Intro -->
    
    <!-- Start About Us -->
    <section id="about" class="section bg-about" data-stellar-background-ratio="0.5">
        <div class="overlay-dark"></div><!-- Overlay Dark -->
        <div class="container">
            <div class="row">
                <!-- about text -->
                <div class="col-md-7 wow fadeInUp">
                    <h3 class="white-text">Filozofia</h3>
                    <div class="divider"></div>
                    <h6>Zajmuję&nbsp;się zrównoważonym, ekologicznym projektowaniem.</h6>
                    <p>Dlaczego? Bo&nbsp;jesteśmy w&nbsp;powiązaniu ze&nbsp;wszystkim co&nbsp;wokół nas, nasze otoczenie, które również tworzymy, wpływa na&nbsp;nasze zdrowie i&nbsp;samopoczucie. W&nbsp;budynkach spędzamy też większość czasu, więc&nbsp;ważne by&nbsp;były one zdrowe i&nbsp;harmonijnie wpisane w kontekst.</p>
                </div>
                <!-- End about text -->
            </div>
        </div>
    </section>
    <!-- End About Us -->
    
    <!-- Start Works -->
    <section id="work" class="section">
        <div class="container">
            <!-- Section Title -->
            <div class="row m-bottom-100">
                <div class="col-md-6">
                    <h3>Ostatnie projekty</h3>
                    <div class="divider"></div>
                </div>
            </div>
            <!-- End Section Title -->
            <div class="row wow fadeInUp">
                <!-- Project Grid -->
                <div id="grid-items" data-columns >
                    <!-- work item -->
                    <a href="single-work.html">
                        <div class="work-item">
                            <img src="http://placehold.it/500x500" alt="">
                            <div class="caption">
                                <p class="extra">Brand &amp; Identity</p> 
                                <div class="titles">
                                    <h4 class="title">Concept</h4> 
                                    <div class="divider"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end work item -->
                    <!-- work item -->
                    <a href="single-work.html">
                        <div class="work-item">
                            <img src="http://placehold.it/500x1000" alt="">
                            <div class="caption">
                                <p class="extra">Photography</p> 
                                <div class="titles">
                                    <h4 class="title">Favorit</h4> 
                                    <div class="divider"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end work item -->
                    <!-- work item -->
                    <a href="single-work.html">
                        <div class="work-item">
                            <img src="http://placehold.it/500x500" alt="">
                            <div class="caption">
                                <p class="extra">Brand &amp; Identity</p> 
                                <div class="titles">
                                    <h4 class="title">Moon</h4> 
                                    <div class="divider"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end work item -->
                    <!-- work item -->
                    <a href="single-work.html">
                        <div class="work-item">
                            <img src="http://placehold.it/500x1000" alt="">
                            <div class="caption">
                                <p class="extra">Photography</p> 
                                <div class="titles">
                                    <h4 class="title">Black Skin</h4> 
                                    <div class="divider"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end work item -->
                    <!-- work item -->
                    <a href="single-work.html">
                        <div class="work-item">
                            <img src="http://placehold.it/500x500" alt="">
                            <div class="caption">
                                <p class="extra">Print Design</p> 
                                <div class="titles">
                                    <h4 class="title">Eco</h4> 
                                    <div class="divider"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end work item -->
                    <!-- work item -->
                    <a href="single-work.html">
                        <div class="work-item">
                            <img src="http://placehold.it/500x1000" alt="">
                            <div class="caption">
                                <p class="extra">Web Development</p> 
                                <div class="titles">
                                    <h4 class="title">New Store</h4> 
                                    <div class="divider"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end work item -->
                </div>
                <!-- End Project Grid -->
                <div class="col-md-12">
                    <a href="#" class="work-btn">Więcej projektów</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Works -->