    <!-- Start Intro -->
    <section id="intro">
        <!-- border intro -->
        <div class="left-border"></div>
        <div class="right-border"></div>
        <div class="bottom-border"></div>
            <!-- Slide -->
            <div id="slides">
                <ul class="slides-container">
                    <!-- slide item -->
                    <li>
                        <img src="/img/home/house1.jpg" alt="" data-stellar-ratio="0.4">
                        <div class="caption-background-dark wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">
                            <div class="caption-wrapper white-text">
                                <div class="slide-caption">
                                    <a href="#">
                                        <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Naturalny, zdrowy dom skrojony dla&nbsp;Ciebie</h1>
                                    </a>
                                    <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Przestrzeń pełna uważności, w&nbsp;zdrowych powiązaniach z&nbsp;otoczeniem i&nbsp;idealnie taka o&nbsp;jaką Ci chodzi. Magia naturalności.</h6>
                                    <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz projekt</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end slide item -->
                    <!-- slide item -->
                    <li>
                        <img src="/img/home/house2.jpg" alt="" data-stellar-ratio="0.4">
                        <div class="caption-background-dark wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">
                            <div class="caption-wrapper white-text">
                                <div class="slide-caption">
                                    <a href="#">
                                        <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Naturalny, zdrowy dom skrojony dla&nbsp;Ciebie</h1>
                                    </a>
                                    <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Przestrzeń pełna uważności, w&nbsp;zdrowych powiązaniach z&nbsp;otoczeniem i&nbsp;idealnie taka o&nbsp;jaką Ci chodzi. Magia naturalności.</h6>
                                    <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz projekt</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end slide item -->
                    <!-- slide item -->
                    <li>
                        <img src="/img/home/bio1.jpg" alt="" data-stellar-ratio="0.4">
                        <div class="caption-background wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">
                            <div class="caption-wrapper white-text">
                                <div class="slide-caption">
                                    <a href="#">
                                        <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Naturalny mobilny domek pod rozbudowę</h1>
                                    </a>
                                    <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">BioDomek, który rośnie wraz z&nbsp;Twoimi potrzebami. Bez&nbsp;kredytu na&nbsp;30 lat.</h6>
                                    <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz projekt</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end slide item -->
                    <!-- slide item -->
                    <li>
                        <img src="/img/home/bio1.jpg" alt="" data-stellar-ratio="0.4">
                        <div class="caption-background-dark wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">
                            <div class="caption-wrapper white-text">
                                <div class="slide-caption">
                                    <a href="#">
                                        <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Naturalny mobilny domek pod rozbudowę</h1>
                                    </a>
                                    <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">BioDomek, który rośnie wraz z&nbsp;Twoimi potrzebami. Bez&nbsp;kredytu na&nbsp;30 lat.</h6>
                                    <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz projekt</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end slide item -->
                    <!-- slide item -->
                    <li>
                        <img src="/img/home/bio2.jpg" alt="" data-stellar-ratio="0.4">
                        <div class="caption-background wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">
                            <div class="caption-wrapper white-text">
                                <div class="slide-caption">
                                    <a href="#">
                                        <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Naturalny mobilny domek pod rozbudowę</h1>
                                    </a>
                                    <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">BioDomek, który rośnie wraz z&nbsp;Twoimi potrzebami. Bez&nbsp;kredytu na&nbsp;30 lat.</h6>
                                    <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz projekt</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end slide item -->
                    <!-- slide item -->
                    <li>
                        <img src="/img/home/bio2.jpg" alt="" data-stellar-ratio="0.4">
                        <div class="caption-background-dark wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">
                            <div class="caption-wrapper white-text">
                                <div class="slide-caption">
                                    <a href="#">
                                        <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Naturalny mobilny domek pod rozbudowę</h1>
                                    </a>
                                    <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">BioDomek, który rośnie wraz z&nbsp;Twoimi potrzebami. Bez&nbsp;kredytu na&nbsp;30 lat.</h6>
                                    <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz projekt</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end slide item -->
                    <!-- slide item -->
                    <li>
                        <img src="/img/home/bio3.jpg" alt="" data-stellar-ratio="0.4">
                        <div class="caption-background wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">
                            <div class="caption-wrapper white-text">
                                <div class="slide-caption">
                                    <a href="#">
                                        <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Naturalny mobilny domek pod rozbudowę</h1>
                                    </a>
                                    <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">BioDomek, który rośnie wraz z&nbsp;Twoimi potrzebami. Bez&nbsp;kredytu na&nbsp;30 lat.</h6>
                                    <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz projekt</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end slide item -->
                    <!-- slide item -->
                    <li>
                        <img src="/img/home/bio3.jpg" alt="" data-stellar-ratio="0.4">
                        <div class="caption-background-dark wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">
                            <div class="caption-wrapper white-text">
                                <div class="slide-caption">
                                    <a href="#">
                                        <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Naturalny mobilny domek pod rozbudowę</h1>
                                    </a>
                                    <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">BioDomek, który rośnie wraz z&nbsp;Twoimi potrzebami. Bez&nbsp;kredytu na&nbsp;30 lat.</h6>
                                    <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz projekt</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end slide item -->
                    <!-- slide item -->
                    <li>
                        <img src="/img/home/interior1.jpg" alt="" data-stellar-ratio="0.4">
                        <div class="caption-background wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">
                            <div class="caption-wrapper white-text">
                                <div class="slide-caption">
                                    <a href="#">
                                        <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Naturalne wnętrza pełne uroku</h1>
                                    </a>
                                    <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Urok naturalnych materiałów we&nbsp;wnętrzach, drewno, glina, tadelakt. Zobacz, jak pięknie można mieszkać naturalnie.</h6>
                                    <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz projekt</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end slide item -->
                    <!-- slide item -->
                    <li>
                        <img src="/img/home/interior1.jpg" alt="" data-stellar-ratio="0.4">
                        <div class="caption-background-dark wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">
                            <div class="caption-wrapper white-text">
                                <div class="slide-caption">
                                    <a href="#">
                                        <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Naturalne wnętrza pełne uroku</h1>
                                    </a>
                                    <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Urok naturalnych materiałów we&nbsp;wnętrzach, drewno, glina, tadelakt. Zobacz, jak pięknie można mieszkać naturalnie.</h6>
                                    <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz projekt</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end slide item -->
                    <!-- slide item -->
                    <li>
                        <img src="/img/home/interior2.jpg" alt="" data-stellar-ratio="0.4">
                        <div class="caption-background wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">
                            <div class="caption-wrapper white-text">
                                <div class="slide-caption">
                                    <a href="#">
                                        <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Naturalne wnętrza pełne uroku</h1>
                                    </a>
                                    <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Urok naturalnych materiałów we&nbsp;wnętrzach, drewno, glina, tadelakt. Zobacz, jak pięknie można mieszkać naturalnie.</h6>
                                    <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz projekt</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end slide item -->
                    <!-- slide item -->
                    <li>
                        <img src="/img/home/interior2.jpg" alt="" data-stellar-ratio="0.4">
                        <div class="caption-background-dark wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">
                            <div class="caption-wrapper white-text">
                                <div class="slide-caption">
                                    <a href="#">
                                        <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Naturalne wnętrza pełne uroku</h1>
                                    </a>
                                    <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Urok naturalnych materiałów we&nbsp;wnętrzach, drewno, glina, tadelakt. Zobacz, jak pięknie można mieszkać naturalnie.</h6>
                                    <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz projekt</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end slide item -->
                    <!-- slide item -->
                    <li>
                        <img src="/img/home/interior3.jpg" alt="" data-stellar-ratio="0.4">
                        <div class="caption-background wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">
                            <div class="caption-wrapper white-text">
                                <div class="slide-caption">
                                    <a href="#">
                                        <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Naturalne wnętrza pełne uroku</h1>
                                    </a>
                                    <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Urok naturalnych materiałów we&nbsp;wnętrzach, drewno, glina, tadelakt. Zobacz, jak pięknie można mieszkać naturalnie.</h6>
                                    <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz projekt</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end slide item -->
                    <!-- slide item -->
                    <li>
                        <img src="/img/home/interior3.jpg" alt="" data-stellar-ratio="0.4">
                        <div class="caption-background-dark wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">
                            <div class="caption-wrapper white-text">
                                <div class="slide-caption">
                                    <a href="#">
                                        <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Naturalne wnętrza pełne uroku</h1>
                                    </a>
                                    <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Urok naturalnych materiałów we&nbsp;wnętrzach, drewno, glina, tadelakt. Zobacz, jak pięknie można mieszkać naturalnie.</h6>
                                    <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz projekt</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end slide item -->
                    <!-- slide item -->
                    <li>
                        <img src="/img/home/interior4.jpg" alt="" data-stellar-ratio="0.4">
                        <div class="caption-background wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">
                            <div class="caption-wrapper white-text">
                                <div class="slide-caption">
                                    <a href="#">
                                        <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Naturalne wnętrza pełne uroku</h1>
                                    </a>
                                    <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Urok naturalnych materiałów we&nbsp;wnętrzach, drewno, glina, tadelakt. Zobacz, jak pięknie można mieszkać naturalnie.</h6>
                                    <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz projekt</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end slide item -->
                    <!-- slide item -->
                    <li>
                        <img src="/img/home/interior4.jpg" alt="" data-stellar-ratio="0.4">
                        <div class="caption-background-dark wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">
                            <div class="caption-wrapper white-text">
                                <div class="slide-caption">
                                    <a href="#">
                                        <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Naturalne wnętrza pełne uroku</h1>
                                    </a>
                                    <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Urok naturalnych materiałów we&nbsp;wnętrzach, drewno, glina, tadelakt. Zobacz, jak pięknie można mieszkać naturalnie.</h6>
                                    <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz projekt</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end slide item -->
                    <!-- slide item -->
                    <li>
                        <img src="/img/home/workshop.jpg" alt="" data-stellar-ratio="0.4">
                        <div class="caption-background wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">
                            <div class="caption-wrapper white-text">
                                <div class="slide-caption">
                                    <a href="#">
                                        <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Działania i&nbsp;warsztaty w&nbsp;terenie</h1>
                                    </a>
                                    <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz, jak odmieniamy okolicę poprzez inne nasze działania z&nbsp;zakresu głębokiej ekologii.</h6>
                                    <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz projekt</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end slide item -->
                    <!-- slide item -->
                    <li>
                        <img src="/img/home/workshop.jpg" alt="" data-stellar-ratio="0.4">
                        <div class="caption-background-dark wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">
                            <div class="caption-wrapper white-text">
                                <div class="slide-caption">
                                    <a href="#">
                                        <h1 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Działania i&nbsp;warsztaty w&nbsp;terenie</h1>
                                    </a>
                                    <h6 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz, jak odmieniamy okolicę poprzez inne nasze działania z&nbsp;zakresu głębokiej ekologii.</h6>
                                    <a href="#" class="btn btn-main white wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Zobacz projekt</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- end slide item -->
                </ul>
                <!-- slide navigation -->
                <nav class="slides-navigation">
                    <a href="#" class="next">Dalej</a>
                    <a href="#" class="prev">Wstecz</a>
                </nav>
            </div>
            <!-- End Slide -->
    </section>
    <!-- End Intro -->
    
    <!-- Start About Us -->
    <section id="about" class="section" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <!-- about text -->
                <div class="col-md-7 wow fadeInUp">
                    <h3>Filozofia projektowa</h3>
                    <div class="divider"></div>
                    <h6>Zajmuję&nbsp;się zrównoważonym, ekologicznym projektowaniem.</h6>
                    
                    <p class="justified">Kodama, od&nbsp;której wzięła nazwę moja działalność to&nbsp;duch drzew, opiekun lasu. Zrównoważone projektowanie jest właśnie dla mnie projektowaniem z&nbsp;opiekuńczą uważnością w&nbsp;kontekst, lokalizację i&nbsp;potrzeby inwestorów.</p>
 
                    <p class="justified">Uważność sprawia, że do każdego projektu podchodzę ze świeżością, od&nbsp;nowa poszukuje odpowiedzi. Bardzo dużo uwagi poświęcam obserwacjom i&nbsp;analizom. Zawsze zaczynam projekt od&nbsp;wizyty na działce i&nbsp;rozmowy z&nbsp;inwestorami, w&nbsp;której próbuje zrozumieć zasady ich wymarzonej intymności lub tematu. Zauważyłam, że proces analiz, rozmawiania odmienia sposób patrzenia na zagadnienie. Proces jest naturalnym elementem projektu. </p>
                     
                    <p class="justified">Stosuję również w&nbsp;projektowaniu elementy Permakultury, czyli projektowej strategii tworzenia trwałych, zrównoważonych systemów. Główne zasady permakultury mówią: dbaj o&nbsp;ziemię, dbaj o&nbsp;ludzi, rozsądnie gospodaruj zasobami.</p>

                    <p class="justified">W tym kontekście budowa domu lub innego budynku to&nbsp;tworzenie nowego elementu ekosystemu. Aby pozostawić podczas budowy i&nbsp;użytkowania budynku jak najmniejszy ślad ekologiczny (troska o&nbsp;ziemię)  i&nbsp;aby sam budynek był dla nas zdrowy i&nbsp;ciepły (troska o&nbsp;ludzi), warto zastosować jedną z&nbsp;technik nowoczesnego budownictwa naturalnego oraz stworzyć pozytywne powiązania z&nbsp;otoczeniem. Budynki naturalne również po&nbsp;okresie użytkowania (dobrze wykonane są bardzo trwałe) są biodegradowalne i&nbsp;wracają do ziemi, co jest bardzo istotne w&nbsp;świecie gdzie odpady budowlane stanowią 1/3 wszystkich zalewających nas odpadów (rozsądnie gospodaruj zasobami). </p>

                    <p class="justified">Serdecznie Was zapraszam do projektowania z&nbsp;dobrymi wzorcami. </p>

                    <p class="justified">Magdalenka Górska</p>
                </div>
                <!-- End about text -->
            </div>
        </div>
    </section>
    <!-- End About Us -->
    
    <!-- Start Works -->
    <section id="work" class="section">
        <div class="container">
            <!-- Section Title -->
            <div class="row m-bottom-100">
                <div class="col-md-6">
                    <h3>Ostatnie projekty</h3>
                    <div class="divider"></div>
                </div>
            </div>
            <!-- End Section Title -->
            <div class="row wow fadeInUp">
                <!-- Project Grid -->
                <div id="grid-items" data-columns >
                    <!-- work item -->
                    <a href="single-work.html">
                        <div class="work-item">
                            <img src="http://placehold.it/500x500" alt="">
                            <div class="caption">
                                <p class="extra">Brand &amp; Identity</p> 
                                <div class="titles">
                                    <h4 class="title">Concept</h4> 
                                    <div class="divider"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end work item -->
                    <!-- work item -->
                    <a href="single-work.html">
                        <div class="work-item">
                            <img src="http://placehold.it/500x1000" alt="">
                            <div class="caption">
                                <p class="extra">Photography</p> 
                                <div class="titles">
                                    <h4 class="title">Favorit</h4> 
                                    <div class="divider"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end work item -->
                    <!-- work item -->
                    <a href="single-work.html">
                        <div class="work-item">
                            <img src="http://placehold.it/500x500" alt="">
                            <div class="caption">
                                <p class="extra">Brand &amp; Identity</p> 
                                <div class="titles">
                                    <h4 class="title">Moon</h4> 
                                    <div class="divider"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end work item -->
                    <!-- work item -->
                    <a href="single-work.html">
                        <div class="work-item">
                            <img src="http://placehold.it/500x1000" alt="">
                            <div class="caption">
                                <p class="extra">Photography</p> 
                                <div class="titles">
                                    <h4 class="title">Black Skin</h4> 
                                    <div class="divider"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end work item -->
                    <!-- work item -->
                    <a href="single-work.html">
                        <div class="work-item">
                            <img src="http://placehold.it/500x500" alt="">
                            <div class="caption">
                                <p class="extra">Print Design</p> 
                                <div class="titles">
                                    <h4 class="title">Eco</h4> 
                                    <div class="divider"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end work item -->
                    <!-- work item -->
                    <a href="single-work.html">
                        <div class="work-item">
                            <img src="http://placehold.it/500x1000" alt="">
                            <div class="caption">
                                <p class="extra">Web Development</p> 
                                <div class="titles">
                                    <h4 class="title">New Store</h4> 
                                    <div class="divider"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- end work item -->
                </div>
                <!-- End Project Grid -->
                <div class="col-md-12">
                    <a href="#" class="work-btn">Więcej projektów</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Works -->